<!--<table style="margin: auto;background-color: white;max-width: 600px">-->
<!--  <tr>-->
<!--    <th>No.</th>-->
<!--    <th>Image</th>-->
<!--    <th style="width: 550px"><span style="cursor: pointer" onclick="mySort(1)">Business Name</span></th>-->
<!--    <th style="width: 140px"><span style="cursor: pointer" onclick="mySort(2)">Rating</span></th>-->
<!--    <th style="width: 140px"><span style="cursor: pointer" onclick="mySort(3)">Distance (miles)</span></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>${idx}</td>-->
<!--    <td style="padding: 5px 0;width: 110px"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="no img" width="95px" height="95px"></td>-->
<!--    <td><span style="cursor: pointer" class="hover-name" onclick="showDetail(this.parentElement.parentElement.rowIndex)">${name}</span></td>-->
<!--    <td>${rating}</td>-->
<!--    <td>${(dist/1609.344).toFixed(2)}</td>-->
<!--  </tr>-->
<!--</table>-->
<table class="table table-striped table-light rounded-4 table-css mt-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Image</th>
    <th scope="col" style="max-width: 300px">Business Name</th>
    <th scope="col" style="max-width: 80px">Rating</th>
    <th scope="col" style="max-width: 80px">Distance (miles)</th>
  </tr>
  </thead>
  <tbody>
    <tr app-record *ngFor="let item of sService.sBusiness_RECS;let k=index" [idx]="k+1" [url]="item.image_url" [name]="item.name" [rating]="item.rating" [distance]="item.distance" (click)="onClick(item.id)"></tr>
  </tbody>
</table>
