<div class="row">
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.address!==''">
    <h6>Address</h6>
    <span>{{sService.sBusiness_DET.address}}</span>
  </div>
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.categories.length!==0">
    <h6>Category</h6>
    <span>{{transCategory(sService.sBusiness_DET.categories)}}</span>
  </div>
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.phone!==''">
    <h6>Phone</h6>
    <span>{{sService.sBusiness_DET.phone}}</span>
  </div>
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.price!==''">
    <h6>Price range</h6>
    <span>{{sService.sBusiness_DET.price}}</span>
  </div>
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.is_open_now!==2">
    <h6>Status</h6>
    <span *ngIf="sService.sBusiness_DET.is_open_now===1" style="color: green">Open now</span>
    <span *ngIf="sService.sBusiness_DET.is_open_now===0" style="color: red">Closed</span>
  </div>
  <div class="col-md-6 col-sm-12 text-center mt-3" *ngIf="sService.sBusiness_DET.url!==''">
    <h6>Visit yelp for more</h6>
    <a href="{{sService.sBusiness_DET.url}}" target="_blank">Business link</a>
  </div>
</div>
